@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap');


#navbarPet{
    position:fixed;
    z-index: 100;
    width:100%;
}

.navbar-nav a{
    color: rgb(0, 0, 0);
}

.nav ul li:hover {
    outline-color: black;
  }

.nav-link:focus, .nav-link:hover {
    color: #f4a12e;
}

.dropdown-item:hover {
    color: #1e2125;
    background-color: #f4a12e;
}
.navbar-brand{
    color: #f4a12e;
}

a:hover {
    color: #000000;
}
