@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap");

.SobrePetFriends {
  background: white;
  border-radius: 2vh;
  padding-bottom: 4rem;
}

#pata {
  position: absolute;
  transform: rotate(-20deg);
  width: 65px;
  height: 65px;
  left: 5%;
}

#pataUno {
  position: relative;
  transform: rotate(20deg);
  width: 50px;
  height: 50px;
  right: 5%;
  bottom: -500px;
}

#pataDos {
  position: relative;
  transform: rotate(-20deg);
  width: 50px;
  height: 50px;
  right: -8%;
  bottom: 100px;
}

#pelota {
  position: relative;
  transform: rotate(-20deg);
  width: 50px;
  height: 50px;
  left: -70%;
  bottom: 400px;
}

#pelotaDos {
  position: relative;
  transform: rotate(-10deg);
  width: 50px;
  height: 50px;
  right: 3%;
  bottom: -30px;
}

#hueso {
  position: relative;
  transform: rotate(-10deg);
  width: 50px;
  height: 50px;
  right: -25%;
  bottom: 500px;
}

#texto {
  line-height: 1.5em;
  font-size: 16px;
  color: rgb(10, 10, 10);
  position: relative;
  font-family: "Comfortaa";
  line-height: 1.5em;
  letter-spacing: normal;
  width: 500px;
  margin: 0;
  padding: 2rem;
}

.heroImg {
  width: 459px;
  height: 280px;
  border-radius: 5px;
  object-fit: cover;
  float: right;
  margin: 20px;
}

#titulo {
  font-family: "Amatic SC";
  font-size: 45px;
  margin-left: 45px;
}
