@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap");


#contactoId{
    background-color: #F4ECE1;
    width: 90%;
    margin:auto; /*Centramos cuadro*/
    margin-top: 1%;
    margin-bottom: 3%;
    text-align:center;
    
    
}
#letreroPetFriends{ 
    margin:0 auto;
    font-family: "Amatic SC";
    
}
#cuadroForm{  
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display:flex;
    margin:0 auto;
    padding: 40px;
}


#papel{
    position: absolute;
    transform: rotate(20deg);
    width: 400px;
    height: 100px;
    left: -65%;
    bottom: 90px;
}