@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap");


.group-names {
    font-family: "Comfortaa";
}

.contact{
    background-color: #ffffff;
    justify-content:center;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 2vh;
}

.letrero{ 
    
    font-family: "Amatic SC";
    padding-top: 55px;
    
}

.pedro{
    width:180px;
    height:180px;
    border-radius:90px;
    filter: grayscale(100%);
    margin: 35px;
    border:3px solid #666;
}

.manudos{
    width:180px;
    height:180px;
    border-radius:90px;
    filter: grayscale(100%);
    border:3px solid #666;
    margin: 35px;
}

.irene{
    width:180px;
    height:180px;
    border-radius:90px;
    filter: grayscale(100%);
    border:3px solid #666;
    margin: 35px;
}
.h3{
    font-family: "Amatic SC";
}

.names{
    font-family: "Amatic SC";
    padding-block-end: 45px;
    
}
.pedro{

}