.chat-list,
.messages {
  background-color: #f4ece1;
  border-radius: 1vh;
}

.chat {
  border-radius: 1vh;
  position: relative;
}

.chat:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 1.03;
}

.message {
  border-radius: 1vh;
}

.text-message {
  border: none;
  border-radius: 1vh;
  resize: none;
  background-color: #f4ece1;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1/1;
}

.chat-box {
  max-height: 40vh;
  overflow: auto;
}

.bell {
  position: absolute;
  right: -1vh;
  top: -1vh;
}