.home-service-card {
  background-color: #f4ece1;
  border-radius: 1vh;
  transition: all 0.2s;
}

.home-service-card-title {
  font-family: "Amatic SC";
}

.home-service-card-text {
  font-family: "Comfortaa";
}

.home-service-card-link {
  font-family: "Comfortaa";
  background-color: #343A40;
  color: white;
  transition: all 0.3s;
}

.home-service-card:hover {
  background-color: #343A40;
  color: white;
}


.home-service-card:hover .home-service-card-link{
  background-color: #f4ece1;
  color: #343A40;
  scale: 1.1;
}

.home-service-card-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
