
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap');

.nombre p{
    font-size: 200px;
    text-align: center;
    font-family: 'Amatic SC';
    margin: 80px;
}

.nombre h5{
    font-size: 25px;
    font-family: 'Comfortaa';
    text-align: center;
    
}

#boton-pasear:hover {
    box-shadow: #646464;
    background:#d28923;
    color:#fff;
    transition: background-color 0.5s ease-in-out,border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
 }

 .btn-dark{
    padding: 10px;
    width: 180px;
    border-radius: 25px;
    margin: 40px;
}
