
.distancia{
    padding-top: 80px;
}
.emp-profile{
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
    border-radius: 5px;
}

.profile-head h2{
    color: #333;
    margin-top: 20px;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
    margin-top: 70px;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #000000;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #cc8500;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work h6{
    font-size: 16px;
    color: #040404;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work p{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-tab p{
    
    color: #0c0c0c;
}
.bio-content{
    text-align: justify;
    padding: 25px;
    margin: 0;
    background-color: #F4ECE1;
    border-radius: 10px;
    color: rgb(101, 99, 99);
}
.ica{
    width: 12rem;
    margin-left: 5px;
    color: #000000;
    border-color: rgb(0, 0, 0);
    
}
