@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200&display=swap');

body{
    background-color: #F4ECE1;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.fname{
    margin-top:15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.lname{
    margin-top:15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.lciudad{
    margin-top:15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}
     
.heading{
    text-decoration:bold;
    text-align : center;
    font-size:40px;
    color:rgb(20, 15, 13);
    padding-top:5px;
    margin: 10px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;

    
}

.email{
    margin-top: 15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.password{
    margin-top: 15px;
    margin-bottom: 25px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;

}

.link {
    color: #000000;
    
}
.link:hover {
    color: #59555c;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    
}

a {
	cursor: pointer;
    transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
