@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200&display=swap');

.fname{
    margin-top:15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.lname{
    margin-top:15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.heading{
    text-decoration:bold;
    text-align : center;
    font-size:40px;
    color:rgb(20, 15, 13);
    padding-top:65px;
    margin: 10px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;

    
}

.email{
    margin-top: 15px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;
}

.password{
    margin-top: 15px;
    margin-bottom: 25px;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    outline: 0px;
    border-bottom: 2px solid #000000;
    width: 280px;
    padding: 10px;

}

.link {
    color: #000000;
    
}
.link:hover {
    color: #59555c;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    
}

a {
	cursor: pointer;
    transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}


select{
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	width: 280px;
    height: 42px;
  	outline: 0; 
  	border: 0;
    background: #ffffff;
    color: #000000;
    font-size: 1em;
    border:2px solid rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;
  	padding: 7px 15px;
    outline: 0;
    justify-items: center;
}

#provincia{
    justify-items: center;
}

