.message-box {
  background-color: #faece1;
  height: 70%;
}

.msj-modal {
  height: 60vh;
}

.reply-box {
  background-color: #faece1;
  height: 30%;
}

.reply-box textarea {
  background-color: #faece1;
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  resize: none; /* opcional */
}

.reply-box textarea:focus {
  outline: transparent;
}
