@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap");

.carousel-slide{
    background: white;
    border-radius: 2vh;
}
.carruselTitle{
    font-family: "Amatic SC";
}

.textDescripcionCarrusel{
    margin-top: 2rem;
    line-height: 1.5em;
    font-size: 18px;
    color: rgb(10, 10, 10);
    font-family: "Comfortaa";
    line-height: 1.5em;
    letter-spacing: normal;
}

.pePelotaDos{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    right: 5%;
    bottom: -254%;
}

.pePelota{
    position: absolute;
    transform: rotate(10deg);
    width: 55px;
    height: 55px;
    left: 55%;
}

.hHueso{
    position: absolute;
    transform: rotate(-10deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -144%;
}
.hHuesoDos{
    position: absolute;
    transform: rotate(10deg);
    width: 65px;
    height: 65px;
    left: 35%;
    bottom: -374%;
}
.pPataDos{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -314%;
}

.hHuesoTres{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -387%;
}
.pPataTres{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    right: 5%;
    bottom: -384%;
}