@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Comfortaa:wght@300&display=swap");


.carousel-slide{
    margin: 100px;
    background: white;
    padding: 100px;
    border-radius: 5px;
}

#carrouselId{
    width: 459px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
    float: right;
    margin: 80px;
    bottom: 80px;
    
}

.textoC h2{
    font-family: "Amatic SC";
    font-size: 45px;
    margin-left: 105px;
    
}

.textDescripcionCarrusel{
    line-height: 1.5em;
    font-size: 18px;
    color: rgb(10, 10, 10);
    position: relative;
    font-family: "Comfortaa";
    line-height: 1.5em;
    letter-spacing: normal;
    width: 400px;
    margin: 0;
    padding: 0 2rem;
    margin-left: 105px;
}

.textDescripcionCarrusel p{
    font-size: 18px;
}

.pePelotaDos{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    right: 5%;
    bottom: -254%;
}

.pePelota{
    position: absolute;
    transform: rotate(10deg);
    width: 55px;
    height: 55px;
    left: 55%;
}

.hHueso{
    position: absolute;
    transform: rotate(-10deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -144%;
}
.hHuesoDos{
    position: absolute;
    transform: rotate(10deg);
    width: 65px;
    height: 65px;
    left: 35%;
    bottom: -374%;
}
.pPataDos{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -314%;
}

.hHuesoTres{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    left: 5%;
    bottom: -424%;
}
.pPataTres{
    position: absolute;
    transform: rotate(-20deg);
    width: 65px;
    height: 65px;
    right: 5%;
    bottom: -384%;
}